In [46]:
## Load TEDS-D 2017 Data into a Pandas Data Frame
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
import os

## Specify WD
wd = "/home/abf/BINF667013_Final_Project/"
os.chdir(wd)

teds=pd.read_csv("datasets/tedsd_puf_2017.csv")
teds

## Convert '-9' to NA
teds=teds.replace({-9:np.nan})

### Count the number of complete cases in this dataset

In [ ]:
teds.dropna().shape

### Count the number of cases with valid observations for at least 50% of available measures

In [ ]:
mask=teds.apply(lambda x: np.isnan(x)).apply(lambda x: sum(x) < 39, axis=1)
teds[mask].shape

### Count the number of cases with valid observations for at least 75% of available measures

In [38]:
mask=teds.apply(lambda x: np.isnan(x)).apply(lambda x: sum(x) < 19, axis=1)
teds[mask].shape

(1308896, 76)

### Count the number of cases with valid observations for at least 90% of available measures

In [21]:
mask=teds.apply(lambda x: np.isnan(x)).apply(lambda x: sum(x) < 14, axis=1)
teds[mask].shape

(759598, 76)

### Explore Correlation between missing values

In [ ]:
import missingno as msno
msno.heatmap(teds, fontsize=12)

In [ ]:
msno.dendrogram(teds)

### Restrict data to records that are at least 75% complete

In [48]:
mask=teds.apply(lambda x: np.isnan(x)).apply(lambda x: sum(x) < 19, axis=1)
print(teds[mask].shape)
teds = teds[mask]

## make a subset for development
#teds=teds.iloc[0:16300, ]

(1308896, 76)

### Convert Observations to Categorical Variables

In [ ]:
for col in teds.columns:
    if not (col =="CASEID" or col == "DISYR"):
        teds[col] = teds[col].astype('category')

### Use MissForest implemented in missingpy to impute missing values

In [43]:
## Stupid hack due to broken module name #WastingMyTime #SloppyCode
import sys
import sklearn.neighbors
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
from missingpy import MissForest
from os.path import exists

def random_chunks(df, n=100000, state=123):
    chunks = []
    i = 0
    while df.shape[0] > n:
        chunks.append(df.sample(n=n, replace=False, random_state=state))
        df = df.drop(chunks[i].index)
        i += 1

    chunks.append(df)
    return(chunks)
        
        
def impute_missforest(df, seed=123):
    print(df.index)
    imputer = MissForest(
        random_state=seed,
        criterion=('squared_error', 'gini'), # Package mispecifies criterion
        n_jobs=-1
    )
    X=imputer.fit_transform(
        df.drop(columns=['CASEID', 'DISYR']),
        cat_vars=np.array([x for x in range(0,74)])
    )

    dg=pd.DataFrame(X)
    dg.columns=df.columns[2:76]
    return(dg)

### Verfiy that All Chunks have at least 1000 observations for all variables

In [49]:
chunks = random_chunks(df=teds, n=100000)
for c in chunks:
    x=c.shape[0] - c.apply(lambda x: sum(np.isnan(x)), axis=0)
    print(c.index)
    print(x.loc[ x < 1000,])

Int64Index([ 795871,  901284,  335690,    3406,  545282,  312273, 1488949,
             479062, 1091987,  524842,
            ...
            1259270,  674537, 1245456, 1620326,  661097,  289106, 1419085,
            1079347,  888693,  725560],
           dtype='int64', length=100000)
Series([], dtype: int64)
Int64Index([ 797190,  312386,  141554,  520119,  892161,  972870,  721221,
             233771,  594648,  635180,
            ...
            1306806, 1393531,  876838,  768947, 1354991, 1325157,  546084,
             787119,  150578, 1228550],
           dtype='int64', length=100000)
Series([], dtype: int64)
Int64Index([1602400, 1535501,  395046, 1437636, 1219540,  589864,  452987,
             704548, 1127721,  283907,
            ...
            1494492,  509549,  869087, 1010916, 1113646,  887086,  671245,
             656525,  656087,  633822],
           dtype='int64', length=100000)
Series([], dtype: int64)
Int64Index([ 784533,  771040, 1026160,  651404,  778858, 1160798,  739293,
             424491, 1151665,  986879,
            ...
             369568, 1368306, 1240812,  131519, 1503818, 1322035,  892640,
            1502663,  593281,  460708],
           dtype='int64', length=100000)
Series([], dtype: int64)
Int64Index([ 292852,  633301, 1237320,  679658, 1433564, 1474524, 1257842,
             579133, 1377309, 1072253,
            ...
            1321452,  947589, 1212464,  674674, 1008859,  141441, 1060182,
            1201659, 1492191, 1271540],
           dtype='int64', length=100000)
Series([], dtype: int64)
Int64Index([1406173, 1146179,  564658,  602883, 1261558,  149323, 1133675,
             732933, 1036445,   30009,
            ...
            1271970,  424488,  628402,  315029,  683397,  424573,  757672,
             661718, 1423417, 1533242],
           dtype='int64', length=100000)
Series([], dtype: int64)
Int64Index([ 488287, 1116800,   68865,  686545,  817427, 1160701,  450771,
             488921,  377406, 1398928,
            ...
            1304917,  827492,  242050,  147283,  326122, 1395315, 1317664,
             477631,  719090, 1085175],
           dtype='int64', length=100000)
Series([], dtype: int64)
Int64Index([1553203,  828686, 1218282,  594461,  936540, 1256116,  876682,
             986664,  266234,  737372,
            ...
             803768,  780380, 1029163,  656871, 1468598, 1018880, 1526809,
              50093, 1294067, 1344911],
           dtype='int64', length=100000)
Series([], dtype: int64)
Int64Index([1594958,  509225, 1583230,  134643,  482118,   50916,  526650,
              25501,  347612,   38394,
            ...
             486069,  673373, 1200736,  504630,  780816,  502511,  344614,
             503540, 1540818, 1482958],
           dtype='int64', length=100000)
Series([], dtype: int64)
Int64Index([ 675429, 1279818, 1113997, 1023085,  580294, 1274382,  777506,
             719898, 1210714, 1442485,
            ...
             331295,  661369, 1286063,  561404,  459930,  339531,   29475,
            1336916,  966277,  306672],
           dtype='int64', length=100000)
Series([], dtype: int64)
Int64Index([1113045,  242523, 1297627, 1147831, 1511946, 1269852, 1153600,
            1236124,  915991,  669028,
            ...
             447673,  450216, 1232573,  496892,  709534,  464344,  886044,
            1602601,  802236,  371877],
           dtype='int64', length=100000)
Series([], dtype: int64)
Int64Index([ 540098,  830118,  858092, 1093360, 1044827,  962306,  428714,
             455330, 1591208, 1344561,
            ...
             658601, 1444750,  805301, 1127268,  736188,  339915,  862117,
            1377859,  684238,  285198],
           dtype='int64', length=100000)
Series([], dtype: int64)
Int64Index([1022865,  895329, 1139580,  182582,    2640,  575033,  681070,
             465621,  494772,  981974,
            ...
             768925, 1294930,  401144,  297568, 1449405,  486745,  979494,
             389157,  839763,  869659],
           dtype='int64', length=100000)
Series([], dtype: int64)
Int64Index([      1,     212,     514,     660,     809,     858,     874,
                944,     971,     979,
            ...
            1659876, 1660063, 1660078, 1660339, 1660488, 1660516, 1660862,
            1660876, 1660975, 1661117],
           dtype='int64', length=8896)
Series([], dtype: int64)

In [50]:
pd.concat(chunks).shape

(1308896, 76)

In [ ]:
if exists("analysis_objects/teds_imputed.csv"):
    teds_imputed=pd.read_csv("analysis_objects/teds_imputed.csv")
else:
    chunks = random_chunks(df=teds, n=100000)
    dflist = [impute_missforest(c) for c in chunks]
    teds_imputed = pd.concat(dflist)
    teds_imputed.to_csv(
        path_or_buf="analysis_objects/teds_imputed.csv"
    )