In [22]:
## Load TEDS-D 2017 Data into a Pandas Data Frame
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
import os

## Specify WD
wd = "/home/abf/BINF667013_Final_Project/"
os.chdir(wd)

teds=pd.read_csv("datasets/tedsd_puf_2017.csv")
teds

## Convert '-9' to NA
teds=teds.replace({-9:np.nan})

### Count the number of complete cases in this dataset

In [ ]:
teds.dropna().shape

### Count the number of cases with valid observations for at least 50% of available measures

In [ ]:
mask=teds.apply(lambda x: np.isnan(x)).apply(lambda x: sum(x) < 39, axis=1)
teds[mask].shape

### Count the number of cases with valid observations for at least 75% of available measures

In [ ]:
mask=teds.apply(lambda x: np.isnan(x)).apply(lambda x: sum(x) < 19, axis=1)
teds[mask].shape

### Count the number of cases with valid observations for at least 90% of available measures

In [ ]:
mask=teds.apply(lambda x: np.isnan(x)).apply(lambda x: sum(x) < 8, axis=1)
teds[mask].shape

### Explore Correlation between missing values

In [ ]:
import missingno as msno
msno.heatmap(teds, fontsize=12)

In [ ]:
msno.dendrogram(teds)

### Restrict data to records that are at least 75% complete

In [23]:
mask=teds.apply(lambda x: np.isnan(x)).apply(lambda x: sum(x) < 19, axis=1)
print(teds[mask].shape)
teds = teds[mask]

## make a subset for development
#teds=teds.iloc[0:16300, ]

(1308896, 76)

### Convert Observations to Categorical Variables

In [3]:
for col in teds.columns:
    if not (col =="CASEID" or col == "DISYR"):
        teds[col] = teds[col].astype('category')

### Use MissForest implemented in missingpy to impute missing values

In [26]:
## Stupid hack due to broken module name #WastingMyTime #SloppyCode
import sys
import sklearn.neighbors
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
from missingpy import MissForest
from os.path import exists

def data_frame_chunks(df, n):
    for i in range(0, df.shape[0], n):
        
        # Get range of records in df
        low=i
        high=min(i + n, df.shape[0])
        
        # Return Iterator for data frame chunks
        yield df.iloc[low:high,]

def impute_missforest(df, seed=123):
    imputer = MissForest(
        random_state=seed,
        criterion=('squared_error', 'gini'), # Package mispecifies criterion
        n_jobs=-1
    )
    X=imputer.fit_transform(
        df.drop(columns=['CASEID', 'DISYR']),
        cat_vars=np.array([x for x in range(0,74)])
    )

    dg=pd.DataFrame(X)
    dg.columns=df.columns[2:76]
    return(dg)

dflist = [impute_missforest(c) for c in chunks]
teds_imputed = pd.concat(dflist)
teds_imputed.to_csv(
    path_or_buf="analysis_objects/teds_imputed.csv"
)

In [27]:
for i in range(0, len(dflist)):
    print(dflist[i].shape)
    print(dflist[i].index)

(100000, 76)
Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            221619, 221624, 221625, 221626, 221627, 221628, 221629, 221630,
            221632, 221633],
           dtype='int64', length=100000)
(100000, 76)
Int64Index([221634, 221636, 221640, 221641, 221643, 221644, 221645, 221646,
            221648, 221651,
            ...
            364742, 364743, 364744, 364745, 364746, 364747, 364748, 364749,
            364750, 364751],
           dtype='int64', length=100000)
(100000, 76)
Int64Index([364754, 364756, 364757, 364758, 364759, 364760, 364761, 364762,
            364763, 364764,
            ...
            471820, 471821, 471822, 471823, 471824, 471825, 471826, 471827,
            471828, 471829],
           dtype='int64', length=100000)
(100000, 76)
Int64Index([471830, 471831, 471832, 471833, 471834, 471835, 471836, 471837,
            471838, 471839,
            ...
            572529, 572530, 572531, 572532, 572533, 572534, 572535, 572536,
            572537, 572538],
           dtype='int64', length=100000)
(100000, 76)
Int64Index([572539, 572540, 572541, 572542, 572543, 572544, 572545, 572546,
            572547, 572548,
            ...
            682297, 682298, 682299, 682300, 682301, 682302, 682303, 682304,
            682305, 682306],
           dtype='int64', length=100000)
(100000, 76)
Int64Index([682307, 682308, 682309, 682310, 682311, 682312, 682313, 682314,
            682315, 682316,
            ...
            786283, 786284, 786285, 786286, 786287, 786288, 786289, 786290,
            786291, 786292],
           dtype='int64', length=100000)
(100000, 76)
Int64Index([786293, 786294, 786295, 786296, 786297, 786298, 786299, 786300,
            786301, 786302,
            ...
            893655, 893656, 893657, 893658, 893659, 893660, 893661, 893662,
            893663, 893664],
           dtype='int64', length=100000)
(100000, 76)
Int64Index([ 893665,  893666,  893667,  893668,  893669,  893670,  893671,
             893672,  893673,  893674,
            ...
            1023547, 1023548, 1023549, 1023550, 1023551, 1023552, 1023553,
            1023554, 1023555, 1023556],
           dtype='int64', length=100000)
(100000, 76)
Int64Index([1023557, 1023558, 1023559, 1023560, 1023561, 1023563, 1023565,
            1023573, 1023575, 1023577,
            ...
            1137280, 1137281, 1137282, 1137283, 1137284, 1137285, 1137286,
            1137287, 1137288, 1137289],
           dtype='int64', length=100000)
(100000, 76)
Int64Index([1137290, 1137291, 1137292, 1137293, 1137294, 1137295, 1137296,
            1137297, 1137298, 1137299,
            ...
            1258263, 1258264, 1258265, 1258266, 1258267, 1258268, 1258269,
            1258270, 1258271, 1258272],
           dtype='int64', length=100000)
(100000, 76)
Int64Index([1258273, 1258274, 1258275, 1258276, 1258277, 1258278, 1258279,
            1258280, 1258281, 1258282,
            ...
            1400482, 1400483, 1400485, 1400486, 1400487, 1400488, 1400490,
            1400491, 1400492, 1400493],
           dtype='int64', length=100000)
(100000, 76)
Int64Index([1400494, 1400495, 1400496, 1400497, 1400498, 1400499, 1400500,
            1400501, 1400502, 1400503,
            ...
            1518437, 1518438, 1518439, 1518440, 1518441, 1518442, 1518443,
            1518444, 1518445, 1518446],
           dtype='int64', length=100000)
(100000, 76)
Int64Index([1518447, 1518448, 1518449, 1518450, 1518451, 1518452, 1518453,
            1518454, 1518455, 1518456,
            ...
            1633762, 1633763, 1633764, 1633765, 1633766, 1633767, 1633768,
            1633772, 1633773, 1633774],
           dtype='int64', length=100000)
(8896, 76)
Int64Index([1633776, 1633777, 1633778, 1633780, 1633781, 1633783, 1633785,
            1633786, 1633788, 1633790,
            ...
            1661197, 1661198, 1661199, 1661200, 1661201, 1661202, 1661203,
            1661204, 1661205, 1661206],
           dtype='int64', length=8896)

In [15]:
df=pd.DataFrame()
df.index=pd.RangeIndex(start=0, stop=100, step=1)

print(df)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

[100 rows x 0 columns]